*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: #E8e4e4;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons img{
    width: 2vh;
    height: 2vh;
    margin: 0 13px;
    cursor: pointer;
    padding-top: 30px;
}